<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Hardware Features -->
    <uses-feature android:name="android.hardware.camera.any" />

    <!-- Permissions -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="NOTE2SNAP"
        android:supportsRtl="true"
        android:theme="@style/Theme.Note2Snap">

        <activity
            android:name=".activities.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Note2Snap">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.MainActivity" android:exported="false" />
        <activity android:name=".activities.LoadingActivity" android:exported="false" />
        <activity android:name=".activities.CreateFolderActivity" android:exported="false" />
        <activity android:name=".activities.SaveFolderActivity" android:exported="false" />
        <activity android:name=".activities.PdfViewerActivity" android:exported="false" />

    </application>
</manifest>